
.card_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 17px;
}

.card_row * {
  color: #fff;
  font-size: 24px;
}

.rowC {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  justify-content: space-between;
  width: 100%;
  padding: 17px;
}
