nav{
    height: 110px;
}

.div-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.btns {
    text-align: center;
    margin-top: 20px;

} .btns a {
    text-decoration: none;
    color: #000; 
    border: none;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;   
    transition: 0.4s;
} .btns a:hover {
    background-color: #050A30;
    color: #fff;
    transition: 0.4s;
}

.selected {
    background-color: #050A30;
    color: #fff !important;
}
